body
{
    text-align: center;
    line-height: 30px;

}
p>img{
width: 20%;
height: 150px;
padding: 10px;
margin: 5px;
border-radius: 10px;
background-color: yellow;
box-shadow: 0 0 5px blue;
}
p>img:hover
{
box-shadow: 0 0 20px red;
background-color: aqua;
}