.menu
{
    margin: 0;
    padding: 0;
}
.iframe[name=page]
{
width: 100%;
min-height: 400px;
}
body
{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#menu ul
{
list-style-type: none;
background: black;
text-align: center;
height: 40px;
}
#menu ul li
{
    color: white;
    display: inline-table;
    margin-left: -5px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: relative;

}
#menu ul  li a
{
    display: block;
    color: white;
}
#menu ul li a:hover
{
    background: black;

}
#menu ul li >.sub-menu
{
display: none;
}
#menu ul li:hover .sub-menu
{
    display: block;
    position: absolute;
}
#menu ul ul {
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 0 1px gray;
    width: 190px;
}
#menu ul ul a {
    border: double 1px orange;
    line-height: 30px;
    color: black;
    display: block;
    text-decoration: none;
    font-size: larger;
    padding: 0 5px;
    width: 10cm;
}
#menu a
{
    text-decoration: none;
}
#menu a:hover
{
    text-decoration: underline;
    color: aqua;
}
.P
{
    width: 25%;
    padding: 30px;
}
.product
{
    border-radius: 10px;
    box-shadow: 2px 2px 5px green;
    padding: 10px;
    margin: 2px;
    text-align:unset;
    margin-left: 10px;
    float: left;
    width: auto;
}
.product .name
{
    text-align: center;
    font-size: larger;
    font-variant: small-caps;
    color: #cd1818;
}
.product>img
{
max-width: 55%;
}
.product>div:hover
{
color: blue;
}
.product .money
{
    color: black;
    font-weight: bold;
    font-size: larger;
}
.product .del
{
    color: brown;
    text-decoration: line-through;
}

.vmenu{
    width: 80%;
    padding: 0px;
    margin: 5px;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0 0 2px grey;
}
.vmenu a{
    background: url(./image/giphy-downsized-large.gif) no-repeat 10px center;
    display: block;
    border-bottom: 3px dotted red;
    color: rgb(253, 23, 23);
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
}
.vmenu a:hover{
    background: url(./image/tenor.gif) no-repeat 10px center;
    border-bottom: 1px dotted white;
    background-color: black;
    color :white;
    font-weight: bold;
}
aside
{
    float: right;
    font-size: 20px;
    width: 30%;
}
article
{
    float: left;
    width: 70%;
}
footer
{
    clear: both;
    text-align: center;
    color: green;
    border-top: double;
}

    .product>img:hover
    {
    box-shadow: 0 0 20px black;
    background-color: aqua;
}