
.vmenu{
    width: 42%;
    padding: 0px;
    margin: 5px;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0 0 2px grey;
}
.vmenu a{
    background: url(./image/giphy-downsized-large.gif) no-repeat 10px center;
    display: block;
    border-bottom: 1px dotted orangered;
    color: orangered;
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
}
.vmenu a:hover{
    background: url(./image/tenor.gif) no-repeat 10px center;
    border-bottom: 1px dotted white;
    background-color: orangered;
    color: wheat;
    font-weight: bold;
}
