
em{
    font-variant:small-caps;
    font-size:20px;
    word-spacing:2px;
     letter-spacing:1px;
     line-height: 25px;
}
h2{
    color:white;
    text-shadow:0 0 5px red;
}
body{
    Text-align:center
}