table
 {
     font-weight: bold;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

 }
 td
 {
    margin: 10px;
    padding: 10px;
    border: 1px solid green;
 }
th
{
padding: 10px;
}
.hang1
{
    color: white;
    background-color: rgb(52, 151, 82);
}
.hang2
{
    background-color: whitesmoke;
}
.c3
{
    background-color: rgb(52, 151, 82);
}