.form-group{
    margin:10px 0px;
    border: 10px red double;
    padding: 5px;
    width: 30px;
    height: 15px;
    box-shadow: 3px 3px red;
}
.form-control{
    width:98%;
    padding:5px;
    outline:none;
    border:1px solid gray;
    border-radius:3px;
}
.form-group label{
    font-weight:bold;
    font-variant:small-caps;
    box-shadow: inset;
}
.form-control:focus{
    background-color:yellow;
     box-shadow:0 0 3px red;
     border:1px solid yellow;

}
.form-button{
    padding:8px 30px;
    outline:none;
     border:none;
    border-radius:20px;
     font-weight:bold;
     background-color:white;
     color:orangered;
    box-shadow:inset 0 0 20px blue;
}
.form-button:hover{
    color:blue;
    box-shadow:inset 0 0 20px orangered;
}
.form-button:disabled{
    color:darkgray;
     box-shadow:inset 0 0 20px gray;
}